target
.idea
*.iml
bin/run.bat
.classpath
.project
.settings/.jsdtscope
*.component
*.prefs
*.name
*.container
.settings/org.eclipse.wst.common.project.facet.core.xml
*.class
bin/src/main/webapp/WEB-INF/web.xml
bin/src/main/webapp/WEB-INF/tags/master.tag
bin/src/main/webapp/styles/main.css
bin/src/main/webapp/index.jsp
bin/src/main/webapp/WEB-INF/pages/productList.jsp
bin/src/main/webapp/images/logo.svg
bin/run.sh
bin/pom.xml
