.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    flex: 0 0 auto;
    border-bottom: black solid 2px;
    height: 70px;
    width: 100%;
    z-index: 2;
}

html, body {
    font-family: /*gabriola*/ mv boli,Bradley Hand, cursive;
    min-width: 750px;
}

.ikon button{
    outline: none;
    background-color: black;
    border: none;
    width: 40px;
    height: 40px;
}

.ikon {
    margin: auto 0em auto 1em;
    width: 3.5em;
    height: 3.5em;
}


.nativeLink{
    text-decoration: none;
    color: black;
}

.title {
    font-size: 3em;
    margin: auto;
}

.cartIkon{
    margin: auto 1em auto 0em;
    width: 3.5em;
    height: 3.5em;
}

