header {
  background-color: aquamarine;
  font: 400 70px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);

}
header a:link {
  text-decoration: none;
}
header img {
  max-width: 64px;
}

table {
  border-collapse: collapse;
  border : 1px solid gray;
}
td {
  padding: 10px;
  border : 1px solid gray;
  vertical-align: top;
}
.price {
  text-align: right;
}
img.product-tile {
  max-width: 64px;
}

/* Page specific styles */
body.product-list {

}


.b-container{
  width:200px;
  height:150px;
  background-color: #ccc;
  margin:0px auto;
  padding:10px;
  font-size:30px;
  color: #fff;
}
.b-popup{
  width:100%;
  height: 2000px;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
}
.b-popup .b-popup-content{
  margin:40px auto 0px auto;
  width:100px;
  height: 40px;
  padding:10px;
  background-color: #c5c5c5;
  border-radius:5px;
  box-shadow: 0px 0px 10px #000;
}