<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         web-app_6_0.xsd"
         version="6.0">
  <display-name>Phoneshop servlet api training</display-name>

  <servlet>
    <servlet-name>productList</servlet-name>
    <servlet-class>com.es.phoneshop.web.ProductListPageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>productList</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>

</web-app>
